flow4
[{"id":"2ca17696.f1265a","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"279df00c.82d32","type":"http in","z":"2ca17696.f1265a","name":"","url":"/pin5","method":"get","upload":false,"swaggerDoc":"","x":280,"y":140,"wires":[["6cf0e296.bf6e9c"]]},{"id":"82bfd235.27f8","type":"function","z":"2ca17696.f1265a","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["10beb3c1.7a37dc"]]},{"id":"6cf0e296.bf6e9c","type":"function","z":"2ca17696.f1265a","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["a75f8e42.5d473","10beb3c1.7a37dc"]]},{"id":"10beb3c1.7a37dc","type":"debug","z":"2ca17696.f1265a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":240,"wires":[]},{"id":"a75f8e42.5d473","type":"http response","z":"2ca17696.f1265a","name":"","statusCode":"","headers":{},"x":690,"y":140,"wires":[]},{"id":"461f2b12.22daf4","type":"rpi-gpio in","z":"2ca17696.f1265a","name":"","pin":"5","intype":"tri","debounce":"25","read":false,"x":250,"y":240,"wires":[["82bfd235.27f8"]]}]