flow2
[{"id":"69380ec0.9c66b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2a38c8e4.b58dc8","type":"inject","z":"69380ec0.9c66b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":230,"y":140,"wires":[["2b6d78d1.afd178"]]},{"id":"2b6d78d1.afd178","type":"function","z":"69380ec0.9c66b","name":"payload","func":"msg.headers={\n    deviceKey: \"S8k6nWJjynPcVMX6\"\n};\n\nmsg.payload=\"Temperature,,25.8\";\nmsg.payload=\"Humidity,,50\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["237b611a.503d8e"]]},{"id":"237b611a.503d8e","type":"http request","z":"69380ec0.9c66b","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DSld0qjo/datapoints.csv","tls":"","x":650,"y":200,"wires":[["d78f4cf2.afe22","f7c8ac68.bf091"]]},{"id":"d78f4cf2.afe22","type":"debug","z":"69380ec0.9c66b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":300,"wires":[]},{"id":"f7c8ac68.bf091","type":"http response","z":"69380ec0.9c66b","name":"","statusCode":"","headers":{},"x":850,"y":180,"wires":[]}]