flow2
[{"id":"6aaae58c.14000c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e340a0e3.96612","type":"inject","z":"6aaae58c.14000c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":70,"y":200,"wires":[["28bebf77.00e85"]]},{"id":"28bebf77.00e85","type":"function","z":"6aaae58c.14000c","name":"payload","func":"msg.headers={\n    deviceKey: \"S8k6nWJjynPcVMX6\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["da657ddf.248e2","bb48c7c8.340098"]]},{"id":"c3df8746.632bd8","type":"http response","z":"6aaae58c.14000c","name":"","statusCode":"","headers":{},"x":690,"y":220,"wires":[]},{"id":"da657ddf.248e2","type":"http request","z":"6aaae58c.14000c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DSld0qjo/datachannels/Temperature/datapoints.csv","tls":"","x":450,"y":220,"wires":[["c3df8746.632bd8","dfa089a4.951fe8"]]},{"id":"dfa089a4.951fe8","type":"debug","z":"6aaae58c.14000c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":300,"wires":[]},{"id":"bb48c7c8.340098","type":"http request","z":"6aaae58c.14000c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DSld0qjo/datachannels/Humidity/datapoints.csv","tls":"","x":430,"y":300,"wires":[["dfa089a4.951fe8","c3df8746.632bd8"]]}]
