flow5
[{"id":"14c03736.33d929","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"87ef0057.bb0b1","type":"http in","z":"14c03736.33d929","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":220,"y":280,"wires":[["586bfdc4.cf6eb4","e9a30f24.9ab26"]]},{"id":"586bfdc4.cf6eb4","type":"function","z":"14c03736.33d929","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["51d573bb.79962c"]]},{"id":"e9a30f24.9ab26","type":"function","z":"14c03736.33d929","name":"Return Status","func":"msg.payload = \"GPIO set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["b8df4bdc.a997d8","d6b715cf.6c9668"]]},{"id":"51d573bb.79962c","type":"rpi-gpio out","z":"14c03736.33d929","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":690,"y":360,"wires":[]},{"id":"d6b715cf.6c9668","type":"debug","z":"14c03736.33d929","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":260,"wires":[]},{"id":"b8df4bdc.a997d8","type":"http response","z":"14c03736.33d929","name":"","statusCode":"","headers":{},"x":670,"y":140,"wires":[]},{"id":"cf551b9.23518e8","type":"http in","z":"14c03736.33d929","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":230,"y":440,"wires":[["d6e8a0fd.4ccc4","9e4ccd0.d04de3"]]},{"id":"d6e8a0fd.4ccc4","type":"function","z":"14c03736.33d929","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["51d573bb.79962c"]]},{"id":"9e4ccd0.d04de3","type":"function","z":"14c03736.33d929","name":"REturn Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[["b8df4bdc.a997d8","d6b715cf.6c9668"]]}]